body,html{
	margin: 0 0;
	background: #1C2833;
	overflow-x: hidden;
}

*:hover{
	outline: none;
}
@keyframes type{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
.container{
	
	text-align: center;
	
	margin: 0 auto;
}
.clock{
	display: inline-block;
	visibility: hidden;
	
	position: absolute;
	 bottom: 1px;
	 left: 50%;
	 transform: translate(-22%, 0%);
	 zoom: 0.9;
	 -moz-transform: scale(0.9) translate(-30%, 0%);
	 
}
.date{
	
	text-transform: uppercase;
	font-family: verdana;
	color: #fff;
	text-shadow: 1px 0px 2px black;
	font-size: 80px;
	display: inline-block;
	z-index: 2;
	position: absolute;
	bottom: 1px;
	left: 50%;
	transform: translate(-45%, 0%);
	zoom: 0.9;
	-moz-transform: scale(0.9) translate(-50%, 0%);
	 
}
@keyframes toTop{
  0%{ transform: translate(10px,10px);
	 -moz-transform: translate(10px,10px;) }
  
  10%{ transform: translate(10px,10px);
	 -moz-transform: translate(10px,10px;) }
  100%{ transform: translateY();
	 -moz-transform: translateY(); } 
} 
#logoAnime{
	display: inline-block;
	
	position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-30%, -70%);
	 -moz-transform: translate(-30%, -70%) scale(0.8);
	 animation: toTop 10s linear;
	 zoom: 0.9;
	 
}
.techtrix-text{  
	visibility: hidden;
	text-shadow: 1px 1px 1px lightgray;
	position: absolute;
	color: #fff;
	font-size: 111px;
	bottom: 10%;
	left: 50%;
	text-align: center;
	transform: translateX(-65%);
	-moz-transform: transform: translateX(-65%);
	animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.no{
	font-family: arial;
}
.small-text{
	position: absolute;
	margin-top: -10px;
	visibility: hidden;
	font-family: arial;
	color: #fff;
	font-family: latina;
	font-size: 20px;
	transform: translateX(-10px);
}
.highlight{
	background: #fff;
	color: black;
}
.logo-container{
	position: relative;
}
@font-face {
    font-family: latina;
    src: url(neo_latina.ttf);
}

@media (max-width: 1200px)
{
	.clock{
		zoom: 0.5;
		-moz-transform: scale(0.5);
	}

}

@media (max-width: 700px)
{

	.techtrix-text{
		font-size: 50px;
	}
	/*.clock{
		visibility: hidden;
	}*/
	.logo-container{
		transform: scale(0.5);
		position: relative;
		margin: 0 auto;
		text-align: center;
	}
}