body,html{
	margin: 0 0;
	background: #1C2833;
	overflow-x: hidden;
}

*:hover{
	outline: none;
}
@keyframes type{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
.container{
	
	text-align: center;
	
	margin: 0 auto;
}
#commingsoon{
	font-family: latina; font-size: 30px; position: fixed; bottom: 0; left: 0; color:#fff; display: none;
}
.clock{
	display: inline-block;
	visibility: hidden;
	
	position: absolute;
	 bottom: 1px;
	 left: 50%;
	 transform: translate(-22%, 0%);
	 zoom: 0.9;
	 -moz-transform: scale(0.9) translate(-30%, 0%);
	 
}
@keyframes burning{
	from { text-shadow:   -2px -1px 2px purple,
	        2px -2px 2px blue,
	        2px -10px 20px white,
	        0 -2px 6px red,
	        2px -2px 10px white,     
	        5px -10px 15px lightyellow,
	        8px -20px 20px yellow,
	        12px -30px 25px orange,
	        5px -60px 40px orange,
	        15px -34px 30px darkorange,
	        0px -36px 35px red,
	        	        40px -40px 50px red,
	        	        -20px -60px 40px red,
	        	        20px -80px 40px red,
	        	        40px -80px 40px red,
	        	        20px -120px 60px red,
	        	        20px -150px 80px black,
	        	        50px -160px 80px black,
	       	100px -200px 100px black,
	       		        120px -150px 100px black,
	       		        100px -100px 100px black,
	       		        120px -220px 100px black,
	       		        200px -300px 150px black; }
	to { text-shadow: none; }
}
@-webkit-keyframes burning{
	from { text-shadow:   -2px -1px 2px purple,
	        2px -2px 2px blue,
	        2px -10px 20px white,
	        0 -2px 6px red,
	        2px -2px 10px white,     
	        5px -10px 15px lightyellow,
	        8px -20px 20px yellow,
	        12px -30px 25px orange,
	        5px -60px 40px orange,
	        15px -34px 30px darkorange,
	        0px -36px 35px red,
	        	        40px -40px 50px red,
	        	        -20px -60px 40px red,
	        	        20px -80px 40px red,
	        	        40px -80px 40px red,
	        	        20px -120px 60px red,
	        	        20px -150px 80px black,
	        	        50px -160px 80px black,
	       	100px -200px 100px black,
	       		        120px -150px 100px black,
	       		        100px -100px 100px black,
	       		        120px -220px 100px black,
	       		        200px -300px 150px black; }
	to { text-shadow: none; }
}
.shaking:hover {
	animation-name: burning;
	animation-duration: 3s;
	animation-name: burning;
	animation-duration: 3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function:linear;
	
}
.date{
	
	text-transform: uppercase;
	font-family: verdana;
	color: #fff;
	text-shadow: 1px 0px 2px black;
	font-size: 80px;
	display: inline-block;
	z-index: 2;
	position: absolute;
	bottom: 1px;
	left: 50%;
	transform: translate(-45%, 0%);
	zoom: 0.9;
	-moz-transform: scale(0.9) translate(-50%, 0%);
	 
}
@keyframes toTop{
  0%{ top: 50%; transform: translate(10px,10px);
	 -moz-transform: translate(10px,10px;)  }
  
  10%{ transform: translate(10px,10px);
	 -moz-transform: translate(10px,10px;) }
  100%{ transform: translateY();
	 -moz-transform: translateY(); } 
} 

#logoAnime{
	display: inline-block;
	
	position: absolute;
	 top: 0%;
	 left: 50%;
	 transform: translateX(-30%);
	 -moz-transform: translateX(-33%) scale(0.8);
	 animation: toTop 3s linear;
	 zoom: 0.9;
	 
}
#canvas:hover{
	transition: 2s linear;
	transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
}

.techtrix-text{  
	visibility: hidden;
	text-shadow: 1px 1px 1px lightgray;
	position: absolute;
	color: #fff;
	font-size: 111px;
	bottom: 10%;
	left: 50%;
	text-align: center;
	transform: translateX(-65%);
	-moz-transform: transform: translateX(-65%);
	animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.no{
	font-family: arial;
}
.small-text{
	position: absolute;
	margin-top: -10px;
	visibility: hidden;
	font-family: arial;
	color: #fff;
	font-family: latina;
	font-size: 20px;
	transform: translateX(18px);
}
.highlight{
	background: #fff;
	color: black;
}
.logo-container{
	position: relative;
}

@font-face {
    font-family: latina;
    src: url(neo_latina.ttf);
}

@media (max-width: 1200px)
{
	.clock{
		
		zoom: 0.3;
		-moz-transform: scale(0.3);
	}

}

@media (max-width: 700px)
{

	.rising{
		/*transform: translateX(-2%);
		-moz-transform: translateX(-2%);*/
	}
	.techtrix-text{
		font-size: 80px;
	}
	.small-text{
		transform: translateX(10%);
		-moz-transform: translateX(10%);
	}
	/*.clock{
		visibility: hidden;
	}*/
	#logoAnime{
		transform: translateX(-38%);
	}
	.logo-container{
		transform: translateX(-300px);
		-moz-transform: translateX(-300px);
		transform: scale(0.7);
		position: relative;
		margin: 0 auto;
		text-align: center;
	}
	#commingsoon{
		position: fixed;
		top: 0;
		left: 0;
	}
	
}