/**{
  box-sizing: border-box;
}*/
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000205;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  color: #fff;
}

.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #000205;
  opacity: 0.9;
}

.contentWrap {
  position: absolute;
  top: 64px;
  width: 100%;
  color: white;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #64dd17;
  /*background-color: #33691e;*/
}
::-webkit-scrollbar-thumb {
  background-color: #76ff03;
}
