.Team{

}
#slider7{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.overflow{
	overflow-y: scroll;
	overflow-x: hidden;
}
.card{
	position: relative;
	/*animation: hang 3s infinite;*/
	box-shadow: border-box;
	min-height: 300px;
	min-width: 300px;
	margin: 5px 5px 5px 1px;
	display: inline-block;
	padding: 0 0 0 0;
	background: #fff;
	color: black;
	font-weight: bold;
	border-radius: 3px;
	border: 0.04em solid gray;
	box-shadow: 1px 2px 3px rgba(0,0,0,1);
}
.pin{
	position: absolute;
	top: 2px;
	left: 2px;
}
.card:nth-child(odd){
	
}
.card img{
	cursor: pointer;
	transition : all .6s ease-in;
	border: 0;
	margin: 0 auto;
	display: block;
	height: 200px;
	width: 200px;
	border-radius: 120px;
}
.card:hover img{
	box-shadow: 0 0 8px black;
}
.card:hover h6{
	transition: 0.6s ease-in;
	box-sizing: border-box;
	color: #0F3438;
	font-weight: bold;
}
.name{
	font-weight: bold;
	color: #0F3438;
}
.card:hover .name{
	color: #D5073A;
}
.card:hover{
	z-index: 5;
	box-shadow: 6px 6px 30px rgba(0,0,0,1);

}
.container{
	display: block;
	margin-top: 30px;
}
.card h6{
	padding: 5px 5px 5px 5px;
	margin: 3px 30px 3px 30px;
	box-shadow: 0px 30px 40px rgba(0,0,0,.1) inset;
}
.info{
	padding: 0 0 0 0;
	text-align: left;
	margin: 3px 30px 3px 30px;
	box-shadow: 0px 30px 40px rgba(0,0,0,.1) inset;
}
.section {
  height: 100%;
  padding: 0;
  position: relative;
}

.middle-indicator {
   position: absolute;
   left: 0;
   right: 0;
   top: 48%;
   padding: 0 5px 0 5px;
   z-index: 3;
}
i.middle-indicator-text {
  font-size: 4.2rem;
  color: #fff;

}

.content-indicator {
  width: 60px;
  height: 60px;
  background: #34495E;
  border-radius: 50px;
}

.indicators {
	visibility: hidden;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.slide-content h2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}
.slide-content i {
  margin-bottom: 1.5rem;
  font-size: 7rem;
}
.slide-content .eventBtn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2.5rem;
}
.slide-content a {
  font-size: 1.5rem;
}
.image-container
{  
	position: relative;
}

.fb { 
	padding-left: 3px;
	border-radius: 35px;
	height: 35px; width: 35px;
	border: 1px solid #4267b2;
	position: absolute; 
	bottom: 10px;
	color: #4267b2;
	background: #fff; 
	font-size: 30px;
	right:  50px;
}
@media only screen and (min-width: 320px) and (max-width: 510px) and (orientation: portrait) {
  .slide-content i {
    font-size: 4rem;
  }
  
}
@media only screen and (min-height: 270px) and (max-height: 480px) and (orientation: landscape) {
  .slide-content h2 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .slide-content i {
    font-size: 2rem;
  }
  .slide-content .eventBtn {
    margin-bottom: 1rem;
  }
  .slide-content a {
    font-size: 1rem;
    height: 27px;
    line-height: 27px;
  }
  
}
@media only screen and (max-width: 700px) {
	.card { width: 100px; min-height: 150px; }

}
@keyframes hang{
	0% { opacity: 0; }
	40%{ opacity: 0.2; transform: rotateZ(-25deg); }
	
	0%{  opacity: 1; }
	90% {  transition: rotateZ(10deg); }
	95% {  transition: rotateZ(10deg); }
}